body {
  font-family: 'Roboto', sans-serif; /* Применяем шрифт Roboto */
  background-color: lightblue; /* Измененный фон */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
}

h1 {
  font-family: 'Roboto', sans-serif; /* Применяем шрифт Roboto */
  color: #e91e63; /* Ярко-розовый цвет */
}

img {
  max-width: 200px;
  margin: 20px auto;
  display: block;
}

p {
  font-family: 'Roboto', sans-serif; /* Применяем шрифт Roboto */
  font-size: 1.2em;
  line-height: 1.5;
  color: #333;
}

.from {
  font-family: 'Roboto', sans-serif; /* Применяем шрифт Roboto */
  font-style: italic;
  margin-top: 20px;
}

button {
  font-family: 'Roboto', sans-serif; /* Применяем шрифт Roboto */
  background-color: #e91e63;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c2185b;
}
button:hover {
  background-color: #c2185b;
  transform: scale(1.1); /* Небольшое увеличение при наведении */
  transition: transform 0.2s ease-in-out; /* Плавный переход */
} 
